.max-width-540 {
  max-width: 540px;
}

html {
  font-family: 'Nunito Sans', sans-serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.nunito-black {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
}